@import '../../colors';
.ServicesMenuBoxBlock{
  background-color: $white;
  width:310px;
  height:225px;
  display:flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  padding: 54px 25px 25px 25px;
  //padding-left: 25px;
}
