@import '../../colors';
.ProfileBoxBlock{
  display:flex;
  align-items: center;
  position:relative;
  width:100%;
  flex-direction: column;
  gap:15px;

  .ImgDiv{
    padding-bottom: 15px;
  }

  .SocialMedias{
    width:100%;
    display: flex;
    justify-content: space-between;

    .SocialMedCircle{
      background-color: $orange;
      border: none;
      border-radius: 50%;
      width: 24px;
      height:24px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

}
