@import '../../colors';

.AppProgressBar{
  //border:;
  width:100%;
  padding:1px;
  border:1px solid $black;
  border-radius: 2px;

  &.SizeSmall{
    height: 6px;
  }
  &.SizeMedium{
    height: 8px;
  }
  &.SizeLarge{
    height: 12px;
  }
  &.DynamicSize{}
  &.BorderSize{

  }
  &.BorderSizeNone{
    border: none;
  }
  &.BorderColorNone{
    border-color: transparent;
  }
  &.BorderColorWhite{
    border-color: $white;
  }
  &.BorderColorOrange{
    border-color: $orange;
  }
  &.BarColorOrange{
    background-color: $orange;
  }
  &.BarColorWhite{
    background-color: $white;
  }
  &.BarColorNone{
    background-color: transparent;
  }

  .AppProgress{
    border-radius: 1px;
    height:2px;

    &.SizeSmall{
      height: 2px;
    }
    &.SizeMedium{
      height: 6px;
    }
    &.SizeLarge{
      height: 10px;
    }
    &.ProgressColorNone{
      background-color: transparent;
    }
    &.ProgressColorWhite{
      background-color: $white;
    }
    &.ProgressColorOrange{
      background-color: $orange;
    }
  }
}
