.PricePlansServiceRow{
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap:16px;
}

.ServicesMenuBoxBlock{
  padding-top:50px;

  .PriceDiv{
    display:flex;
    padding:20px 0 10px 0;
  }
}

