@import '../../colors';
.PricePlansServiceRow{
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap:16px;
  padding-top:16px;
}
.PricePlansMenuBoxBlock{
  background-color: $white;
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 54px 30px 25px 30px;
  width:310px;
  //height:610px;

  .PriceDiv{
    display:flex;
    gap:10px;
    padding: 20px 82px 8px 82px;
  }

  .PricePlansList{
    padding-bottom: 20px;
  }

}

