@import '../../colors';
.LeftSidebarDiv{
  position:fixed;
  height:100vh;
  width:305px;
  top:0;
  left:0;
  background-color: $white;
  padding:0 40px;
  overflow-y: auto;

  .LeftSidebarBtnDiv{
    display:flex;
    justify-content: center;
    padding-bottom: 25px;
  }
}
