@import '../../colors';
.MainMenuDiv{
  display:flex;
  justify-content: space-evenly;
  height:470px;
  width:auto;
  background-color: $white;

  .MainTitleDiv{
    display:flex;
    justify-content: center;
    flex-direction: column;
    gap:20px;
    padding-left: 60px;
  }

  .MainTitleDiv2{
    display:flex;
    justify-content: normal;
    gap:15px;
}
  .YourPhotoDiv{
    padding:0 60px 600px 0;
  }
}
