$orange: #FFB400;

$lightOrange: rgba(255, 180, 0, 0.95);

$darkGrey: #2B2B2B;

$black: #18191A;

$white: #FFFFFF;

$grey: #3A3B3C;

$lightBlack: #242526;

$lightGrey: #767676;

$lightGreyish: #F0F0F6;

$greyish: #E4E6EB;





